<!DOCTYPE html>

<html>    
    <head>

      <title>EAT-DA-BURGER!</title>
<!--Links to Bootstrap and CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/burger_style.css">

    </head>

<body>

<!--Container for page -->
    <div class="container-fluid">
    <center>
        <div class="row">
            <img src="assets/img/Burger pic.jpg" alt="Burger pic">
        <div class="jumbotron">
            <h1 id="title">EAT-DA-BURGER!</h1>
            <br>
            <p class="word">Choose a Burger you would like to eat from the Menu on the left. Click "Devour" to eat your Burger. <br>
            Burgers you Devour will be added to the list on the right. <br>
            If you would like to add your own Burger to the Menu, type it in the form and click "Submit". <br>
            Burgers you submit will be added to the Menu and can then be Devoured.
            </p>
    </center>

<!--Burger content from index.handlebars-->
    {{{body}}}

    <br>

<!-- Form to submit new burgers to menu -->
    <form action="burger/create" method="POST"> 
        <div class="row">
          <div class="col-md-3"></div> 

 <!--Add box to submit burger -->
    <div class="form-group col-md-6">
        <center><label for="new_burger" class="submitFontText">Add Your Burger to the Menu by typing it in the text box below. <br> Then click "Submit".</label></center>
        <textarea class="form-control-submit" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>
<div class="col-md-3"></div> 
        </div>
        
 <!--Create submit button-->
    <center>
        <button id="submit-button" type="submit" class="btn btn-danger">Submit!</button>
    </center>
    </form>

    </div>
</body>
</html>
