<!DOCTYPE html>

<html>    
    <head>

      <title>EAT-DA-BURGER!</title>
<!--Links to Bootstrap and CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/burger_style.css">

    </head>

<body>

<!--Container for page -->
    <div class="container-fluid">
    <center>
        <div class="row">
            <img src="assets/img/Burger pic.jpg" alt="Burger pic">
        <div class="jumbotron">
            <h1>EAT-DA-BURGER!</h1>
            <p class="word">Choose a Burger you would like to eat from the Menu on the left. Click "Devour" to eat your Burger. <br>
            Burgers you Devour will be added to the list on the right. <br>
            If you would like to add your own Burger to the Menu, type it in the form and click "Submit". <br>
            Burgers you submit will be added to the Menu and can then be Devoured.
            </p>
    </center>
        <br>
    
<!--Burger content from index.handlebars-->
    {{{body}}}

    <br><br>

<!-- Form to submit new burgers to menu -->
      <form action="burger/create" method="POST"> 
        <div class="row">
          <div class="col-md-3"></div> 

        </div>

        </div>

    </div>



</body>


</html>
