<!DOCTYPE html>

<html>    
    <head>

      <title>EAT-DA-BURGER!</title>
<!--Links to Bootstrap and CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/burger_style.css">

    </head>

<body>

<!--Container for page -->
    <div class="container-fluid">
    <center>
        <div class="row">
            <img src="assets/img/Burger pic.jpg" alt="Burger pic">
        <div class="jumbotron">
            <h1>EAT-DA-BURGER!</h1>
        </div>

        </div>

    </center>

    </div>



</body>


</html>
