body {
  background-color: yellow;
}

#title {
	color: green;
	font-size: 45px;
	font-weight: 200;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 0px;
	margin-top: 0px;

}

.jumbotron {
	padding-top: 1%;
	background-color:transparent !important;
	margin-bottom: 0px;
	padding-bottom: 1%;
}

img {
	margin-top: 3%;
	width: 15%;
	border: 13px double black;
	background-color: red;
}

.word {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: 100;
}

.submitFont {
	color: white;
	background-color:blue;
	border: double orange;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 15%;
}

.form-control-submit {
	width: 50%;
	margin-left: 25%;
	font-family: 'Times New Roman', Times, serif;
}

.submitFontText {
	color: black;
	font-size: 17px;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 0%;
	border-left: 0%;
	padding-left: 0%;
}

.input-group-menu {
	margin-left: 40%;
}

#submit-button {
	color: white;
	background-color: red;
	border: solid black;
}

.btn{
	color: red;
	background-color: greenyellow;
	border: double black;
}

#Menu {
	margin-left: 15%;
}

#Devoured {
	text-align: center;
	margin-left: 15%;
}